{% load static %}
<!DOCTYPE html>
<html lang="en">
  <style>
    body {
        background-image: url("{% static 'images/showcase.jpg' %}");
      }
  </style>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>

</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Hotel RedBeard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">contact us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login.html">login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="container-xxl" style="margin:3% ;">
    <div class="row">
      <div class="col-6">
        <div class="card text-bg-light mb-3" style="max-width: 100%;">
          <div class="card-body">
            <h1 class="card-title">Hotel ReadBeard</h1>
            <p class="card-text">Unique. Playful. Glamorous. Convenient. Soaring 105 stories above the Mumbai famous
              Hotel Bassmarck, Mumbai offers the dynamic highest views of the city and beyond, while our
              luxuriously appointed guestrooms offer the ultimate in comfort and serenity.</p>
            <img src="{% static 'images/bassmarck2.jpg' %}" class="card-img-bottom w-100 h-50" alt="...">
          </div>
        </div>
      </div>
      <div class="col-6">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static 'images/home1.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item active">
              <img src="{% static 'images/home2.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item active">
              <img src="{% static 'images/home3.jpg' %}" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <br>
        <div class="row">
          <div class="col-6">
            <div class="card" style="width: 18rem;">
              <img src="{% static 'images/home5.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Whats new</h5>
                <p class="card-text">Open top floor breakfast</p>
                <a href="about.html" class="btn btn-primary">About Us</a>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card" style="width: 18rem;">
              <img src="{% static 'images/home8.jpg' %}" class="card-img-top h-50" alt="...">
              <div class="card-body">
                <h5 class="card-title">Large Lounge</h5>
                <p class="card-text">Lounge for parties and functions</p>
                <a href="about.html" class="btn btn-primary">About Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>

</html>