<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

</head>
<style>
    table,
    th,
    td {
        border: 1px solid white;
        border-collapse: collapse;
    }

    th,
    td {
        background-color: #96D4D4;
    }

    h2 {
        text-align: center;
    }
</style>


<body>
    <header>
        <div class="container">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="admin_dash.html"><img src="https://getbootstrap.com/docs/5.2/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">Admin Dashboard</a>
              
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="Staff.html">Staff</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="Payment.html">Payment</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="rooms.html">Rooms</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="Complain_rec.html">Complain</a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link" href="Admin_login.html">Logout</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
    </header>









    <h2 style="margin:3% ;">Payments </h2>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>

    <div class="container text-center" style="opacity: 1;">
        <div class="row align-items-end">
            <div class="col-2">

            </div>
            <div class="col-8">
                <!--<div class="row align-items-end">
                    <div class="col-6">

                        <input class="form-control" type="text" value=" first name: {{Variable}}"
                            aria-label="Disabled input example" disabled readonly>
                   
                    </div>
                    <div class="col-6">
                        <input class="form-control" type="text" value="Last name: {{Variable}}"
                            aria-label="Disabled input example" disabled readonly>
                 
                    </div>
                </div>
                <br>
                <div class="row align-items-end">
                    <div class="col-6">
                        <input class="form-control" type="text" value="Booking Id: {{Variable}}"
                            aria-label="Disabled input example" disabled readonly>
                
                    </div>
                    <div class="col-6">
                        <input class="form-control" type="text" value="mobile no: {{Variable}}"
                            aria-label="Disabled input example" disabled readonly>
                  
                    </div>
                </div>
                <br>
                <div class="row align-items-end">
                    <div class="col-4">
                        <input class="form-control" type="text" value="Check in date: {{Variable}}"
                            aria-label="Disabled input example" disabled readonly>
                
                    </div>
                    <div class="col-4">
                        <input class="form-control" type="text" value="check out date: {{Variable}}"
                            aria-label="Disabled input example" disabled readonly>
                   
                    </div>
                    <div class="col-4">
                        <input class="form-control" type="text" value="Type of room: {{Variable}}"
                            aria-label="Disabled input example" disabled readonly>
                 
                    </div>
                </div>
                <br>
                <div class="row align-items-end">
                    <div class="col-4">
                        <input class="form-control" type="text" value="Number of adults: {{Variable}}"
                            aria-label="Disabled input example" disabled readonly>
                    
                    </div>
                    <div class="col-4">
                        <input class="form-control" type="text" value="Number of children: {{Variable}}"
                            aria-label="Disabled input example" disabled readonly>
               
                    </div>
                    <div class="col-4">
                        <input class="form-control" type="text" value="Number of room: {{Variable}}"
                            aria-label="Disabled input example" disabled readonly>
                       
                    </div>
                </div>
            -->
            <table style="width: 100%;" id="premium">
                <tr>
                  <th>Room Number</th>
                  <th>Name</th>
                  <th>Date</th>
                  <th> Generate Receipt</th>
                </tr>
                <tr>
                  <td>{{roomno1}}</td>
                  <td>{{name1}}</td>
                  <td>{{date1}}</td>
                  <td><a href="receipt.html" style="color:black ;">Receipt</a></td>
                </tr>
                <tr>
                  <td>{{roomno2}}</td>
                  <td>{{name2}}</td>
                  <td>{{date2}}</td>
                  <td><a href="receipt.html" style="color:black ;">Receipt</a></td>
                </tr>
    
              </table>

            </div>

            <div class="col-2">
            </div>
        </div>

    </div>


</body>

</html>